package navigation

templ Main() {
<nav>
    <ul style="display: flex; list-style: none; gap: 10px; padding-inline-start: 0px;">
        
        @Link("/home", "Home")
        @Link("/intel", "Intel")
        @Link("/drafts", "Drafts")
        @Link("/signals", "Signals")
        @Link("/about", "About")
        @Link("/contact", "Contact")

    </ul>
</nav>
}