package navigation

type Route struct {
	Path  string
	Title string
}

var routes = []Route{
	{"home", "Home"},
	{"signals", "Signals"},
	{"drafts", "Drafts"},
	{"intel", "Intel"},
	{"contact", "Contact"},
	{"about", "About"},
}

templ Main(active string) {

	<nav class="navigation main">
		for _, route := range routes {
			if route.Path == active {
				@Unlink(route.Title)
			} else {
				@Link("/"+route.Path, route.Title)
			}
		}
	</nav>
}
