package main

type Route struct {
	Path  string
	Title string
}

var routes = []Route{
	{"home", "Home"},
	{"signals", "Signals"},
	{"drafts", "Drafts"},
	{"intel", "Intel"},

}

templ navigation(active string) {


}
