nav.navigation.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 2ch;
        border: 1px solid var(--color-primary);
        cursor: default;
        user-select: none;
    }

    a[href] {
        border: 1px solid transparent;
        cursor: pointer;
        color: var(--color-primary);
    }

    a[href]:hover {
        background-color: var(--color-primary);
        color: var(--color-background);
    }

}