/* navigation/styles.css */
.navigation.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.navigation.main a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2ch;
}
.navigation.main a {
  border: 1px solid var(--color-primary);
  cursor: default;
  user-select: none;
}
.navigation.main a[href] {
  border: 1px solid transparent;
  cursor: pointer;
}
.navigation.main a[href] {
  color: var(--color-primary);
}
.navigation.main a[href]:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

/* forms.css */
label {
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 2ch;
}

/* colors.css */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: white;
    --color-background: black;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: black;
    --color-background: white;
  }
}

/* src.css */
