<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>VC29</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <link href="./src/output.css" rel="stylesheet">


</head>

<body class="bg-white dark:bg-black text-black dark:text-white font-sans">

    <nav class="navigation main flex content-center flex-wrap mb-16" id="main_navigation" onclick="setActive(event)">
        <a class="no-underline uppercase p-8 cursor-pointer border border-transparent text-black dark:text-white hover: border-black dark:border-white active:bg-cyan-500" hx-get="/home" hx-swap="innerHTML" hx-target="#root" class="active">Home</a>
        <a class="no-underline uppercase p-8 cursor-pointer border border-transparent text-black dark:text-white hover: border-black dark:border-white" hx-get="/intel" hx-swap="innerHTML" hx-target="#root" >Intel</a>
        <a class="no-underline uppercase p-8 cursor-pointer border border-transparent text-black dark:text-white hover: border-black dark:border-white" hx-get="/signals" hx-swap="innerHTML" hx-target="#root">Signals</a>
        <a class="no-underline uppercase p-8 cursor-pointer border border-transparent text-black dark:text-white hover: border-black dark:border-white" hx-get="/drafts" hx-swap="innerHTML" hx-target="#root">Drafts</a>
    </nav>

    <main class="flex flex-col items-center">
        <div class="max-w-full w-[64ch]" id="root" hx-trigger="load" hx-get="/home" hx-swap="innerHTML"></div>
    </main>

    <script src="dist.js"> </script>
</body>

</html>