package main

templ Contact() {
@navigation("contact")
<h1>Contact</h1>
<p>
    If you have any questions or feedback, please reach out to us via the contact form below. We value your input and
    will get back to you as soon as possible.
</p>

}