@import "tailwindcss";

@import './pages/annotate.css';

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    .nav-active {
        background-color: white;
        color: black
    }
}

@media (prefers-color-scheme: light) {
    .nav-active {
        background-color: black;
        color: white
    }
}