package layouts

templ Body(navigation, content templ.Component) {
    <header>
        @navigation 
    </header>
    <br />
    <br />
    <br />
    <main style="width: min(64ch, 100%);">
        @content
    </main>
}