package home
import (
"github.com/xintamosaik/vc29/navigation"
)

templ Index() {
@navigation.Main()
<h1>Home</h1>
<p>
        Welcome to our web application! This is the home page where you can find the latest updates and features.
</p>
}