div#send_annotation {
    width: min(64ch, 100%);
    padding: 2ch;
}

#content [data-marked] {
    cursor: pointer;
    font-style: italic;
}

#content [data-marked="1"] {
    background-color: #ff04;

}
#content [data-marked="2"] {
    background-color: #ff05;

   
}
#content [data-marked="3"] {
    background-color: #fc06;

   
}
#content [data-marked="4"] {
    background-color:  #fc07;
    font-weight: bold;
}

#content [data-marked="5"] {
    background-color: #fa08;
    font-weight: bold;
}

#content [data-marked="6"] {
    background-color: #fa09;
    font-weight: bold;
}

#content [data-marked="7"] {
    background-color: #f70a;
    font-weight: bold;
}

#content [data-marked="8"] {
    background-color: #f70b;
    font-weight: bold;
}