package pages

import (
"vc29/internal/components"
)
templ Intel() {
	@components.Link("/intel/new", "Add new intel")
	<br />
	<br />
	<div hx-trigger="load" hx-get="/intel/list" hx-swap="outerHTML"></div>
}