package pages

templ Signals() {
<section id="signals" class="main hidden">
    <h2>Signals</h2>
    <p>
        This is the Signals page for our web application. Here you can find information about the latest features,
        updates,
        and technologies used in the project.
    </p>
</section>
}