package about

import (
"github.com/xintamosaik/vc29/navigation"
)

templ Index() {
@navigation.Main()
<h1>About</h1>
<p>
    This is the about page for our web application. Here you can find information about the project, its purpose,
    and how to contribute.
</p>
}