* {
    box-sizing: border-box;
}

@view-transition {
    navigation: auto;
}

:root {
    --color-bg: black;
    --color-text: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: black;
        --color-text: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: white;
        --color-text: black;
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

nav {
    span  {
        background-color: var(--color-text);
        color: var(--color-bg);
    }
    a {
        color: white;
    } 
    a:hover {
        outline: 1px solid var(--color-text);
    }
}