<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>VC29</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
 
    <link href="above_the_fold.css" rel="stylesheet">
    <style>

    </style>


</head>

<body>
    <nav class="navigation main" id="main_navigation" onclick="setActive(event)">
        <a hx-get="/home" hx-swap="innerHTML" hx-target="#root" class="active">Home</a>
        <a hx-get="/intel" hx-swap="innerHTML" hx-target="#root">Intel</a>
        <a hx-get="/signals" hx-swap="innerHTML" hx-target="#root">Signals</a>
        <a hx-get="/drafts" hx-swap="innerHTML" hx-target="#root">Drafts</a>
    </nav>

    <main>
        <div id="root" hx-trigger="load" hx-get="/home" hx-swap="innerHTML"></div>
    </main>

    <script>
       
    </script>
    <script src="above_the_fold.js" async></script>
    
    <script>
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = './src/output.css';
        document.head.appendChild(link);
    </script>

    <script src="dist.js" defer> </script>
</body>

</html>