<!DOCTYPE html>
<html lang="en" style="font-family: sans-serif;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>VC29 | intel</title>
    <meta name="description" content="A web application with dynamic navigation and content loading.">
    <script src="htmx.min.js" type="text/javascript" defer></script>
    <link href="above_the_fold.css" rel="stylesheet" media="screen">
</head>

<body style=" display: flex; flex-direction: column; align-items: center;">
    <header>
        <nav style="display: flex; justify-content: center; flex-wrap: wrap;"><a
                style="text-transform: uppercase; padding: 2rem; text-decoration: none;" href="/">home</a><span
                style="text-transform: uppercase; padding: 2rem;">intel</span><a
                style="text-transform: uppercase; padding: 2rem; text-decoration: none;"
                href="/signals.html">signals</a><a
                style="text-transform: uppercase; padding: 2rem; text-decoration: none;" href="/drafts.html">drafts</a>
        </nav>
    </header><br><br><br>
    <main style="width: min(64ch, 100%);"><br><br><input type="button" popovertarget="new_intel"
            popovertargetaction="open" value="add new Intel">
        <div id="new_intel" style="width: min(64ch, 100%);" popover>
            <form action="/intel/create" method="post" hx-target="this" hx-swap="innerHTML" hx-trigger="submit"
                hx-post="/intel/create" style="display: flex; flex-direction: column;"><label
                    for="title">Title:</label><br><input type="text" id="title" name="title" required><br><label
                    for="description">Description:</label><br><textarea id="description" name="description" rows="4"
                    required style="field-sizing: content;"></textarea><br><label
                    for="content">Content:</label><br><textarea id="content" name="content" rows="4" required
                    style="field-sizing: content;"></textarea><br>
                <div style="display: flex; justify-content: space-between;"><input type="button"
                        popovertarget="new_intel" popovertargetaction="close" value="Close"> <input type="submit"
                        value="Submit">
                </div>
            </form>
        </div>
        <br>
        <div hx-trigger="load" hx-get="/intel/list" hx-swap="outerHTML"></div>
    </main>
</body>

</html>