package pages

templ Drafts() {
<section id="drafts" class="main hidden">
    <h2>Drafts</h2>
    <p>
        This is the Drafts page for our web application. Here you can find information about the latest features,
        updates,
        and technologies used in the project.
    </p>
</section>
}