package pages

templ Signals() {
<h1>Signals</h1>
<p>
    This is the Signals page for our web application. Here you can find information about the latest features, updates,
    and technologies used in the project.
</p>
}